# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Environment
../.env

# Streamlit
.streamlit/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Models
models/qwen/*.gguf

# Temporary
temp/
tmp/